.avatar img {
  width: 100%;
  aspect-ratio: 1;
  align-self: start;
}

.card-text.skills {
  display: flex;
  width: 100%;
}

.skill {
  margin: 0.2em;
  word-wrap: break-word;
  display: inline-flex;
}